@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;

  --primary-btn: #2874f0;
  --gradient: linear-gradient(101.12deg, #2874f0 55.35%, #ffe500 99.99%, #fee500 100%, #fee500 100%);
  --gradient2: linear-gradient(89.97deg, #2874f0 1.84%, #ffe500 102.67%);
  
  --primary-color: #2874f0;
  --secondary-color: #ffe500;

  --color-bg: #24252d;
  --color-card : #2A2D3A;
  --color-footer : #24252D;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #2A2D3A #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: var(--color-card);
    border-radius: 10px;
    border: 3px none #ffffff;
  }